@page "/todolists/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorWebAppMovies.Models
@inject IDbContextFactory<BlazorWebAppMovies.Data.BlazorWebAppMoviesContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Todo List</h2>
<hr />
@if (TodoList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="TodoList" OnValidSubmit="UpdateTodoList" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="TodoList.Id" value="@TodoList.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="TodoList.Name" class="form-control" />
                    <ValidationMessage For="() => TodoList.Name" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/todolists">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private TodoList? TodoList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        TodoList ??= await context.TodoList.FirstOrDefaultAsync(m => m.Id == Id);

        if (TodoList is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateTodoList()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(TodoList!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TodoListExists(TodoList!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/todolists");
    }

    private bool TodoListExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.TodoList.Any(e => e.Id == id);
    }
}